.App {
  text-align: center;
}

body {
  background-color: antiquewhite;

}

.card {
  margin: 9rem;
  border: 3px solid rgb(194, 236, 5);
}

hr {
  margin-top: -1rem;
  color: aqua;
  margin-left: 40%;
  margin-right: 40%;
}

h1 {
  color: darkmagenta;
  font-size: larger;
  font-family: fantasy;
}

h2 {
  color: darkmagenta;
  font-size: larger;
  font-family: fantasy;
}

h3 {
  color: darkmagenta;
  font-size: larger;
  font-family: fantasy;
}

h4 {
  color: darkmagenta;
  font-size: larger;
  font-family: fantasy;
}

h5 {
  color: darkmagenta;
  font-size: larger;
  font-family: fantasy;
}

h6 {
  color: darkmagenta;
  font-size: larger;
  font-family: fantasy;
}